<footer class="footer p-10 bg-base-200 text-base-content fixed bottom-0 justify-around">
    <div>
        <span class="footer-title">Site</span>
        <a class="link link-hover"href="{{ '/' | url }}">Landing</a>
        <a class="link link-hover"href="{{ '/tags' | url }}">Blog</a>
        <a class="link link-hover" href="{{ '/tags' | url }}">Tags</a>
    </div>
    <div>
        <span class="footer-title">Newsletter</span>
        <div class="form-control w-80">
            <form method="post" action="https://sendfox.com/form/mn5kzp/mnwz8p" class="sendfox-form" id="mnwz8p"
                data-async="true" data-recaptcha="true">
                <div class="relative">
                    <input type="email" id="sendfox_form_email" placeholder="Email" name="email" required
                        class="input input-bordered w-full pr-16" />
                    <button class="btn btn-primary absolute top-0 right-0 rounded-l-none"
                        type="submit">Subscribe</button>
                </div>
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">I agree to receive email updates and promotions.</span>
                        <input type="checkbox" name="gdpr" value="1" class="checkbox checkbox-primary" required />
                    </label>
                </div>
                <!-- no botz please -->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password"
                    tabindex="-1" value="" autocomplete="off" /></div>
            </form>
            <script src="https://sendfox.com/js/form.js"></script>
        </div>
    </div>
</footer>
